
<div class="col-md-6 col-md-offset-3 panel panel-default">
  <h4 class="text-center">Sign up</h4>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <label name="image">Upload image</label>
      <%= f.file_field :imageurl %>
    </div>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="nameAddon"><i class="fa fa-gear"></i></span>
        <%= f.text_field :invite, placeholder: "Enter invite code (Required for signup)", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="nameAddon"><i class="fa fa-users"></i></span>
        <%= f.text_field :name, placeholder: "Enter your name", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="emailAddon"><i class="fa fa-envelope"></i></span>
        <%= f.email_field :email, placeholder: "Enter your email address", class: "form-control" %>
      </div>
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="twitterAddon">@</span>
      <%= f.text_field :twitter, placeholder: "Twitter handle (no @ symbol)", label: false, class: "form-control" %>
    </div>
    <br />

    <div class="form-group">
      <em>Passwords have a six character minimum</em>
      <br />
      <div class="input-group">
        <span class="input-group-addon" id="passwordAddon"><i class="fa fa-key"></i></span>
        <%= f.password_field :password, placeholder: "Enter your password", autocomplete: "off", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="password_confirmationAddon"><i class="fa fa-key"></i></span>
        <%= f.password_field :password_confirmation, placeholder: "Please confirm password", autocomplete: "off", class: "form-control" %>
      </div>
    </div>
    <div class="clearfix"><br /><br /></div>
    <div class="form-button">
      <%= f.submit "Sign up", class: "btn btn-primary col-md-12 col-sm-12 col-xs-12"  %>
    </div>
  <% end %>
  <div class="clearfix"><br /><br /><br /></div>
</div>
