<% meta_title "About | The Nerdy Legion Podcast Network" %>

<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="body-header">About us</h3>
    </div>
    <div class="panel-body">
      <%= image_tag "https://nl1.nyc3.digitaloceanspaces.com/assets/nloffline.jpg", alt: "Nerdy Legion", class: "pull-left", width: "20%", style: "padding: 0px 10px 10px 0px; min-width: 150px; max-width: 190px;" %>
      <p>
        The Nerdy Legion podcast network is a place for people obsessed with geek culture with topics ranging from comics, TV, movies, wrestling and more. All our hosts aim to bring you high quality, relevant conversation relating to geek culture in a unique and powerful voice without ever sugar coating the topic at hand.
      </p>
      <p>
        The Nerdy Legion podcast network was co-founded by Martin Ferretti, Joshua Eves and Paul Tesseneer in July 2015. Since our inception, Nerdy Legion has become a destination for people looking for great content and our network has grown through engaging the community and bringing on podcast listeners as hosts for new shows. Our founders have over 20 years of combined experience in the podcasting industry and lifelong dedication to the topics discussed. You can learn more about everyone involved by heading over to our <%= link_to "People", people_path, title: "People" %> page.
      </p>
      <p>
        You can get in touch by sending us an email or getting in touch via <%= link_to "Twitter", "https://www.twitter.com/nerdylegion", title: "Twitter" %> or <%= link_to "Facebook", "https://www.facebook.com/nerdylegion", title: "Facebook" %>. You can find individual contact information for all our hosts via the <%= link_to "People", people_path, title: "People" %> page as well. We hope you enjoy listening to our content as much as we love creating it.
      </p>
    </div>
  </div>
</div>
