<div class="col-md-12 col-sm-12 col-xs-12 panel panel-default">
    <h4 class="text-center">
      User Administration
      <span class="pull-right">
        <%= link_to user_admin_new_path, title: "Create New User", class: "btn btn-primary btn-xs" do %>
          <i class="fa fa-plus"></i> Create User
        <% end %>
      </span>
    </h4>
    <table class="table table-responsive table-condensed table-hover">
      <thead>
        <tr>
          <td>Name</td>
          <td>Email</td>
          <td>Last Seen</td>
          <td class="text-center">Admin?</td>
          <td class="text-center">Podcaster?</td>
          <td class="text-center">Analytics?</td>
          <td class="text-center">Actions</td>
        </tr>
      </thead>
      <% @users.each do |u| %>
        <tbody>
          <tr>
            <td>
              <%= u.name %>
            </td>
            <td>
              <%= u.email %>
            </td>
            <td>
              <%= u.updated_at.strftime("%b %m, %Y") %>
            </td>
            <td class="text-center">
              <% if u.admin? %>
                <%= form_tag controller: 'pages', action: 'admin_false', id: u, method: :post, remote: true do %>
                  <%= submit_tag "True", class: "btn btn-success btn-xs col-md-12" %>
                <% end %>
              <% else %>
                <%= form_tag controller: 'pages', action: 'admin_true', id: u, method: :post, remote: true do %>
                  <%= submit_tag "False", class: "btn btn-primary btn-xs col-md-12" %>
                <% end %>
              <% end %>
            </td>
            <td class="text-center">
              <% if u.podcaster? %>
                <%= form_tag controller: 'pages', action: 'podcaster_false', id: u, method: :post, remote: true do %>
                  <%= submit_tag "True", class: "btn btn-success btn-xs col-md-12" %>
                <% end %>
              <% else %>
                <%= form_tag controller: 'pages', action: 'podcaster_true', id: u, method: :post, remote: true do %>
                  <%= submit_tag "False", class: "btn btn-primary btn-xs col-md-12" %>
                <% end %>
              <% end %>
            </td>
            <td class="text-center">
              <% if u.analytics? %>
                <%= form_tag controller: 'pages', action: 'analytics_false', id: u, method: :post, remote: true do %>
                  <%= submit_tag "True", class: "btn btn-success btn-xs col-md-12" %>
                <% end %>
              <% else %>
                <%= form_tag controller: 'pages', action: 'analytics_true', id: u, method: :post, remote: true do %>
                  <%= submit_tag "False", class: "btn btn-primary btn-xs col-md-12" %>
                <% end %>
              <% end %>
            </td>
            <td class="text-center">
              <%= form_tag controller: 'pages', action: 'destroy_user', id: u, method: :delete, remote: true do %>
                <%= submit_tag "Remove", class: "btn btn-info btn-xs col-md-12", data: { confirm: "Are you sure you want to remove this user?" } %>
              <% end %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
    <br />
    <% if @pagy.count > 15 %>
      <div class="text-center" style="margin-top: -40px;"><%== pagy_nav_bootstrap(@pagy).html_safe %></div>
    <% end %>
</div>
