<div class="clearfix"><br /></div>
<nav class="navbar navbar-footer">
  <div class="container-fluid">
    <div class="navbar-footer text-center">
      <ul class="list-inline small">
        <% if Setting.count > 0 %>
          <% if Setting.first.twitter? %>
            <li><%= link_to "https://www.twitter.com/" + Setting.first.twitter.to_s, title: "Follow us on Twitter" do %><i class="fa fa-twitter"></i><% end %></li>
          <% end %>
          <% if Setting.first.facebook? %>
            <li><%= link_to Setting.first.facebook.to_s, title: "Follow us on Facebook" do %><i class="fa fa-facebook"></i><% end %></li>
          <% end %>
          <% if Setting.first.instagram? %>
            <li><%= link_to Setting.first.instagram.to_s, title: "Follow us on Instagram" do %><i class="fa fa-instagram"></i><% end %></li>
          <% end %>
          <% if Setting.first.twitch? %>
            <li><%= link_to Setting.first.twitch.to_s, title: "Follow us on Twitch" do %><i class="fa fa-twitch"></i><% end %></li>
          <% end %>
        <% end %>
        <% if Privacy.all.count == 1 %>
          <li><%= link_to "Privacy", privacypolicy_path, title: "Privacy Policy" %></li>
        <% else %>
          <% if user_signed_in? && current_user.admin? %>
            <li><%= link_to "Create Privacy Policy", new_privacy_path, title: "Create Privacy Policy" %></li>
          <% end %>
        <% end %>
        <% if Term.all.count == 1 %>
          <li><%= link_to "Terms", termsofservice_path, title: "Terms of Service" %></li>
        <% else %>
          <% if user_signed_in? && current_user.admin? %>
            <li><%= link_to "Create Terms of Service", new_term_path, title: "Create Terms of Service" %></li>
          <% end %>
        <% end %>
        <% unless user_signed_in? %>
          <li><%= link_to "Login", new_user_session_path, title: "Login" %></li>
        <% end %>
        <br />
        <% if Setting.count > 0 %>
          <small><%= Setting.first.name.to_s %> &copy; <%= Time.now.strftime("%Y") %></small>
        <% else %>
          Powered by Sprout
        <% end %>
      </ul>
    </div>
  </div>
</nav>
