<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="fXdxoXSNBjFWM75hh3nn9wm4O6FsX2DgEQO1qTpgfy4" />
    <meta name="twitter:card" content="summary_large_image" />
    <% if Setting.count == 1 %>
      <meta name="twitter:site" content="@<%= Setting.first.twitter.to_s %>" />
      <meta name="twitter:creator" content="@<%= Setting.first.twitter.to_s %>" />
    <% end %>
    <% if yield(:twitter_image).present? %>
      <meta property="twitter:image" content="<%= yield(:og_image) %>" />
      <meta property="twitter:image:type" content="image/jpeg" />
    <% else %>
      <meta property="twitter:image" content="https://nl1.nyc3.digitaloceanspaces.com/assets/nloffline.jpg" />
      <meta property="twitter:image:type" content="image/jpeg" />
    <% end %>
    <% if yield(:og_title).present? %>
      <meta name="twitter:title" content="<%= yield(:og_title) %>" />
    <% else %>
      <% if Setting.count == 1 %>
        <meta name="twitter:title" content="<%= Setting.first.name.to_s %>" />
      <% else %>
        <meta name="twitter:title" content="Sprout" />
      <% end %>
    <% end %>
    <% if yield(:og_description).present? %>
      <meta name="twitter:description" content="<%= yield(:og_description) %>" />
    <% else %>
      <% if Setting.count == 1 %>
        <meta name="twitter:description" content="<%= strip_tags(Setting.first.description.to_s.html_safe) %>" />
      <% else %>
        <meta name="twitter:description" content="Powered by Sprout, an open source solution for creating and distributing podcasts" />
      <% end %>
    <% end %>
    <% if yield(:meta_description).present? %>
      <meta name="description" content="<%= yield(:meta_description) %>" />
    <% else %>
      <% if Setting.count == 1 %>
        <meta name="description" content="<%= strip_tags(Setting.first.description.to_s.html_safe) %>" />
        <meta name="keywords" content="<%= Setting.first.keywords.to_s %>" />
      <% else %>
        <meta name="description" content="Powered by Sprout, an open source solution for creating and distributing podcasts" />
      <% end %>
    <% end %>
    <% if yield(:og_title).present? %>
      <meta property="og:title" content="<%= yield(:og_title) %>" />
    <% else %>
      <% if Setting.count == 1 %>
        <meta property="og:title" content="<%= strip_tags(Setting.first.description.to_s.html_safe) %>" />
      <% else %>
        <meta property="og:title" content="Powered by Sprout, an open source solution for creating and distributing podcasts" />
      <% end %>
    <% end %>
    <% if yield(:og_description).present? %>
      <meta property="og:description" content="<%= yield(:og_description) %>" />
    <% else %>
      <% if Setting.count == 1 %>
        <meta name="og:description" content="<%= strip_tags(Setting.first.description.to_s.html_safe) %>" />
      <% else %>
        <meta name="og:description" content="Powered by Sprout, an open source solution for creating and distributing podcasts" />
      <% end %>
    <% end %>
    <% if yield(:og_type).present? %>
      <meta property="og:type" content="<%= yield(:og_type) %>" />
    <% else %>
      <meta property="og:type" content="website" />
    <% end %>
    <% if yield(:og_audio).present? %>
      <meta property="og:audio" content="<%= yield(:og_audio) %>" />
      <meta property="og:audio:type" content="audio/mpeg" />
    <% end %>
    <% if yield(:og_url).present? %>
      <meta property="og:url" content="<%= yield(:og_url) %>" />
    <% else %>
      <meta property="og:url" content="<%= root_url %>" />
    <% end %>
    <% if yield(:og_image).present? %>
      <meta property="og:image" content="<%= yield(:og_image) %>" />
      <meta property="og:image:type" content="image/jpeg" />
      <meta property="og:image:width" content="350" />
      <meta property="og:image:height" content="350" />
    <% else %>
      <meta property="og:image" content="https://nl1.nyc3.digitaloceanspaces.com/assets/nloffline.jpg" />
      <meta property="og:image:type" content="image/jpeg" />
    <% end %>
    <% if Setting.count == 1 %>
      <meta property="og:site_name" content="<%= Setting.first.name.to_s %>" />
    <% else %>
      <meta property="og:site_name" content="Sprout" />
    <% end %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#eb6864" />
    <%= csrf_meta_tags %>
    <% if Setting.count == 1 %>
      <link rel="shortcut icon" type="image/x-icon" href="<%= Setting.first.favicon.to_s %>" />
    <% end %>
    <link rel="canonical" href="<%= root_url %>" />
    <% if yield(:meta_title).present? %>
      <title><%= yield(:meta_title) %></title>
    <% else %>
      <% if Setting.count == 1 %>
        <title><%= Setting.first.name.to_s %> | <%= Setting.first.title.to_s %></title>
      <% else %>
        <title>Sprout | This website is powered by Sprout</title>
      <% end %>
    <% end %>
    <%= stylesheet_link_tag 'application', :media => "all" %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <% if controller_name == "pages" && action_name == "analytics" %>
      <%= javascript_include_tag "//www.google.com/jsapi" %>
      <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js", "chartkick" %>
    <% end %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', async: Rails.env.production?, defer: true %>

    <link rel="manifest" href="/manifest.json" />
  </head>

  <% if request.path_info.include?('new') %>
    <body class="container">
  <% elsif request.path_info.include?('edit') %>
    <body class="container">
  <% elsif request.path_info.include?('about') %>
    <body class="container">
  <% elsif request.path_info.include?('people') %>
    <body class="container">
  <% elsif request.path_info.include?('pending') %>
    <body class="container">
  <% elsif request.path_info.include?('analytics') %>
    <body class="container">
  <% elsif request.path_info.include?('users') %>
    <body class="container">
  <% elsif controller_name == "episodes" && action_name == "index" %>
    <body class="container">
  <% else %>
    <body class="container track_body" %>
  <% end %>

    <%= render 'layouts/header' %>
    <% flash.each do |name, msg| %>
      <div id="notice_wrapper">
        <% if name == "alert" %>
          <div class="alert alert-danger alert-dismissible alert-message" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <%= msg %>
          </div>
        <% else %>
          <div class="alert alert-success alert-dismissible alert-message" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <%= msg %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= yield %>
    <%= render 'layouts/footer' %>
    <% if Setting.count == 1 %>
      <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "<%= root_url %>",
        "image": "https://nl1.nyc3.digitaloceanspaces.com/assets/nloffline.jpg",
        "description": "<%= Setting.first.description.to_s.html_safe %>",
        "contactPoint": [
          { "@type": "ContactPoint",
            "url": "<%= root_url %>",
            "contactType": "customer service"
          }
        ],
        "sameAs": [
          "<%= Setting.first.facebook.to_s %>",
          "https://www.twitter.com/<%= Setting.first.twitter.to_s %>"
        ]
      }
      </script>
    <% end %>
  </body>


</html>
